<div class="container">
  <div class="row topo75">
    <h1 class="bordacinza">Cadastro de Cartório</h1>
  </div>

  <div class="row topo40">
    <span class="ui-float-label col-md-4">
        <input id="float-input" class="form-control" size="100" maxlength="100" type="text" size="30" pReposanvel> 
        <label for="float-input">Nome do Responsável</label>
    </span>
    <span class="ui-float-label col-md-4">
      <input id="float-input" class="form-control" size="100" maxlength="100" type="text" size="30" pReposanvel> 
      <label for="float-input">CPF</label>
  </span>
  </div>

  <div class="row topo30">
      <span class="ui-float-label col-md-2">
          <input id="float-input" size="100" class="form-control" maxlength="100" type="text" size="30" pTelefone> 
          <label for="float-input">Telefone</label>
        </span>

      <span class="ui-float-label col-md-2">
        <input id="float-input" size="100" class="form-control" maxlength="100" type="text" size="30" pCEP> 
        <label for="float-input">CEP</label>
      </span>

      <span class="ui-float-label col-md-4">
          <input id="float-input" class="form-control" size="100" maxlength="100" type="text" size="30" pEndereco> 
          <label for="float-input">Endereço</label>
      </span>    
  </div>

  <div class="row topo30">
    <span class="ui-float-label col-md-8">
      <textarea id="float-input"  class="form-control" rows="3" maxlength="100" cols="30" pServicos></textarea> 
      <label for="float-input">Serviços</label>
    </span>
  </div>

  <div class="row topo30">
    <div class="col-md-8 text-right">
        <a href="#" class="btn btn-success"><i class="fa fa-check"></i> Salvar</a>
    </div>
  </div>
</div>