<div>
    <h4 class="text-center" style="margin-top: 100px">
        <strong>Declaração de Procedimentos e Serviços Efetuados (DPSE) - art. 3° da Instrução Normativa n° 001/2018 – GPGE</strong>
    </h4>
</div>

<div class="board-inner" id="status-buttons">



    <ul class="nav nav-tabs text-center" id="myTab" style="margin-left: 13%; width: 75%; border-bottom: none;">
        <li>
            <a routerLink="periodo" routerLinkActive="active" ng-readonly="true" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab"
                title="Informar Período">
                <span class="round-tabs three">                        
                    <i class="fa fa-calendar"></i>                    
                </span>
            </a>            
            <strong>Selecionar Período</strong>            
        </li>

        <li>
            <a routerLink="lancamentos" routerLinkActive="active" data-toggle="tab" title="Quantidade de serviços realizados">
                <span class="round-tabs three">
                    <i class="fa fa-list"></i>
                </span>
            </a>
            <strong>Quantidade de serviços realizados</strong>            
        </li>

        <li>
            <a routerLink="confirmar" routerLinkActive="active" data-toggle="tab" title="Confirmação emissão de guia">
                <span class="round-tabs three">
                    <i class="fa fa-check-square"></i>
                </span>
            </a>
            <strong>Confirmação e emissão de guia</strong>            
        </li>

    </ul>

    <div class="clearfix"></div>
</div>

<script src="../../../assets/"></script>