<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">

      <div class="row x_title">
        <div class="col-md-6">
          <h3> Relatório de Valores em Atraso</h3>
        </div>
        <div class="col-md-6 topofixo">
        </div>
      </div>

      <br />

      <div class="container">
        <div class="row topo30px">
          <div align="center" class="col-md-">
            <a href="#" class="btn" style="font-size: 14px" (click)="onImprimir($event)">
              <i class="fa fa-2x fa-print"></i>&nbsp;Imprimir</a>
          </div>
        </div>
        <div class="row topo30px left15px"><br /><br /></div>
      </div>
    </div>
  </div>
</div>