<div class="container">
  <div class="row">
    <div class='col-md-12'>
      <br>
      <p>
        <img src="assets/images/brasao.png" class="img-centro" width="150px" alt="Brasão" />
      </p>
    </div>
    <div class='col-md-12'>
      <br>
      <h3 class="text-center">
        Bem vindo ao Programa para preenchimento da
        <strong>Declaração de Procedimentos e Serviços Efetuados (DPSE)</strong> - art. 3º da Instrução Normativa nº 001/2018 - GPGE.
      </h3>
    </div>
  </div>
  <div class="row topo40 text-center">
    <div class='col-md-3'>
    </div>
    <div class='col-md-3'>
      <a class="btn btn-lg btn-info" style="width: 100%" [routerLink]="['/declaracoes/nova']">Nova Declaração DPSE</a>
    </div>
    <div class='col-md-3'>
      <a class="btn btn-lg btn-warning" style="width: 100%" [routerLink]="['/declaracoes']">Visualizar Declarações</a>
    </div>
    <div class='col-md-3'>
    </div>
  </div>
</div>